h1 {
	display: flex;
	justify-content: center;
	color: darkred;
	}

#index {
	margin: auto;
    text-align: center;
    padding: 10px;
}

body {
	background-color: #FFF8DC;
	justify-content: center;
}
h2{
	color:#000080;
}

label {
	padding: 6px;
	margin: 10px;
}

input {
	padding: 6px;
	margin: 12px;
}




#note {
	border: 1px solid navy;
    width: 150px;
    margin-left: 45%;
}

ul {
	list-style-type :none;
}

li {
	font-weight: bold;
	padding: 5px;
	text-align: left;
	border: 1px solid darkblue;
	margin: 6px;
	width: 240px;
	border-radius: 3px;
	background-color: #FFDAB9;
	color: #8B4513;
}

button {
	padding: 6px;
	margin: 10px;
}

#depos, #withdraw {
	border-radius: 50%;
	background-color: #FFF8DC;
}