h1 {
	display: flex;
	justify-content: center;
	color: darkred;
	}

div {
	margin: auto;
    text-align: center;
    padding: 10px;
}

body {
	background-color: #FFF8DC;
	justify-content: center;
}
h2{
	color:#000080;
}



input::-webkit-input-placeholder {
    color: red;
}